:root {
  --background-color: white;
  --text-color: black;
  --font-size: 14px;
  --font-weight: 400;
  --font-style: normal;
  --font-family: "Roboto", "Raleway", sans-serif;
}
* {
  box-sizing: border-box;
  margin: auto;
  list-style: none;
}
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
}

.header {
  font-weight: 500;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.19;
  padding: 24px 93px 25px 0px;
}

.logo-header-first {
  color: #2196f3;
}
.logo-header-second {
  color: black;
}
.navi {
  display: flex;
  align-items: center;
}
.header-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 46px;
}

.contact-header {
  display: flex;
  gap: 50px;
}

.contact-date {
  display: flex;
  justify-content: center;
}
.contact-date > a {
  color: #757575;
  fill: #757575;
}

.envelope-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.smartphone-icon {
  margin: 10px;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.link:focus,
.link:active,
.link:hover {
  color: #2196f3;
  fill: #2196f3;
}

.section {
  padding: 94px 0px;
}

.effectiv-business {
  background-color: #2f303a;
  height: 600px;
  width: 100%;
  display: flex;
  text-align: center;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: 50% 50%;
}
.title-main {
  font-size: 44px;
  color: white;
  font-weight: 900;
  line-height: 1.36;
  border: 200px 452px 280px 452px;
}

.button-main {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #2196f3;
  line-height: 1.87;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
}

.tittle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
}
.paragraph {
  color: #757575;
  line-height: 1.71;
}
.container-items-lorem {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.responsibilities {
  display: flex;
  justify-content: space-around;
}

.respo-picture {
  padding: 0px 15px 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team {
  background-color: #f5f4fa;

  padding-bottom: 50px;
}
.our-team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}
.icons-team {
  display: flex;
  width: 206px;
  height: 56px;
}
.instagram-icon {
  margin: 0px;
  color: blue;
  background-color: red;
  fill: green;
}

.instagram-icon:hover {
  background-color: yellow;
  fill: orange;
}
.instagram-icons {
  display: flex;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.art-color {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  padding: 30px 99px 10px;
}

.description {
  font-size: 16px;
  color: #757575;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 16px;
}
.our-clients {
  display: flex;
}

.client {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: white;
  fill: #afb1b8;
}
.client:active,
.client:hover,
.client:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.buttons {
  cursor: pointer;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
}

.buttons:focus,
.buttons:hover {
  color: white;
  background-color: #2196f3;
}
.button-nav {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
}
.button-nav > li {
  margin: 0px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 30px;
  column-gap: 30px;
}
.item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  border-bottom: 1px solid #eeeeee;
}

.title-portfolio {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  line-height: 2;
}
.text-portfolio {
  font-size: 16px;
  color: #757575;
  line-height: 1.87;
}
.footer {
  display: flex;
  background-color: #2f303a;
  height: 252px;
  padding-left: 215px;
}
.logo-footer {
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.19;
}

.logo-footer-first {
  color: #2196f3;
  line-height: 1.19;
}
.logo-footer-second {
  color: #ffffff;
  line-height: 1.19;
}
.address {
  color: #ffffff;
  line-height: 1.71;
  padding-top: 20px;
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
}

.footer-dots {
  padding: 0px;
}
.footer-dots > li {
  padding: 9px 0px;
}

.container {
  width: 1200px;
  margin: auto;
}
.footer-icon {
  fill: white;
  border: 1px solid #ffffff1a;
}
